.first-image{
    width: 100%;
}
.link-tag-text{
    padding-top: 20px;
}
.text{
    padding-top: 10px;
}
.third-part-image{
    padding-top: 18px;
}
.third-part{
    padding: 2%;
}
.info{
    background-color: #eaeaea;
    padding-top: 20px;
}