.download-image{
    width: 70%;
}
.fourth-part{
    background-color: #eaeaea;
    padding: 3%;
}
.appointment{
    padding-top: 20px;
}
.send-app-link{
    padding-top: 15px;
}
.btn{
    background-color: violet !important;
    margin-left: 5px;
}